# Dictionary
- methods
- attributes
- extract values from dictionary

# User define function
- default function
- required arguments functions
- optional arguments functions
- pass arguments with values and key=values

In [1]:
l1 = ['Abdul Wahab', 'Aslam Khan', '03337158656', '088']
#all elemnents are stored with index number
# 0 = name
# 1 = father_name
# 2 = cell
# 3 = id
print(l1[0], l1[1], l1[2], l1[3])

Abdul Wahab Aslam Khan 03337158656 088

In [2]:
print(*l1) # same as above

Abdul Wahab Aslam Khan 03337158656 088

# Dictionary

In [3]:
# item = key:value (pair)
obj1 = {
    'Name' : 'Abdul Wahab',
    'Father_name' : 'Aslam Khan',
    'Cell' : '03337158656',
    'Id' : '088',
    'Age' : 25,
}
obj1

{'Name': 'Abdul Wahab',
 'Father_name': 'Aslam Khan',
 'Cell': '03337158656',
 'Id': '088',
 'Age': 25}

In [4]:
obj1[0]

KeyError: 0

In [6]:
obj1['Name']

'Abdul Wahab'

In [7]:
obj1['Father_name']

'Aslam Khan'

In [8]:
obj1['Cell']

'03337158656'

In [9]:
obj1['Id']

'088'

In [10]:
obj1['Age']

25

In [11]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'Name' : 'Abdul Wahab',
    'Father_name' : 'Aslam Khan',
    'Cell' : '03337158656',
    'Id' : '088',
    'Age' : 25,
    0 : 'Pakistan Zindabad'
}
obj1[0]

'Pakistan Zindabad'

In [14]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'Name' : 'Abdul Wahab',
    'Father_name' : 'Aslam Khan',
    'Cell' : '03337158656',
    'Id' : '088',
    'Age' : 25,
    0 : 'Pakistan Zindabad',
    ('abc') : 'Hello World'
}
obj1[0]

'Pakistan Zindabad'

In [15]:
obj1.keys()

dict_keys(['Name', 'Father_name', 'Cell', 'Id', 'Age', 0, 'abc'])

In [35]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'name' : 'Abdul Wahab',
    'fname' : 'Aslam Khan',
    'cell' : '03152222222',
    'id' : '088',
    'age':25,
    0 : 'pakistan zinda bad',
    ('abc') : 'hello world'
}

obj1[0]

'pakistan zinda bad'

In [36]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'name' : 'Abdul Wahab',
    'fname' : 'Aslam Khan',
    'cell' : '03152222222',
    'id' : '088',
    'age':25,
    0 : 'pakistan zinda bad',
    'abc' : ['a', 'b', 'c']
}

obj1['abc']

['a', 'b', 'c']

In [18]:
obj1['abc'][1]

'b'

# Function
- function decr
- function body
- function calling

def name(parameter1, parameter2):
    statment1
    statment2
    statment3
    
name(arg1,arg2)

In [20]:
def abc(name, fname, course): # function decr
    print(name, fname, course) # function body

In [22]:
abc('Abdul Wahab', 'Aslam Khan', 'A.I') # function call

Abdul Wahab Aslam Khan A.I

In [23]:
abc('A.I', 'Abdul Wahab', 'Aslam Khan')

A.I Abdul Wahab Aslam Khan

In [24]:
abc('Abdul Wahab', 'Aslam Khan')

TypeError: abc() missing 1 required positional argument: 'course'

In [26]:
l1 = ['Abdul Wahab','Aslam Khan',"A.I"]

abc(l1[0], l1[1], l1[2])

Abdul Wahab Aslam Khan A.I

In [27]:
abc(*l1)

Abdul Wahab Aslam Khan A.I

In [28]:
abc(course="A.I", name="Abdul Wahab", fname="Aslam Khan")

Abdul Wahab Aslam Khan A.I

In [29]:
obj = {
      'course':'A.I',
      'name':'Abdul Wahab',
      'fname':'Aslam Khan'
      }

abc(**obj)
# abc(course="A.I", name="Abdul wahab", 'fname'="Aslam Khan")

Abdul Wahab Aslam Khan A.I

# Dictionary Methods

In [30]:
a = 5
b = 5

print(id(a))
print(id(b))

140713930757056
140713930757056

In [37]:
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [38]:
obj2 = obj1
print(id(obj1))
print(id(obj2))

2843796026856
2843796026856

In [40]:
a = obj1.copy()
a

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [41]:
obj

{'course': 'A.I', 'name': 'Abdul Wahab', 'fname': 'Aslam Khan'}

In [42]:
print(id(obj1))
print(id(a))

2843796026856
2843796501200

In [44]:
obj.clear()
obj

{}

In [45]:
l1 = ['name','fname','course','timing','address']
dict.fromkeys(l1)

{'name': None, 'fname': None, 'course': None, 'timing': None, 'address': None}

In [46]:
a1 = dict.fromkeys(l1, 'abc')
#a1 = dict.fromkeys(l1, value="##")
a1

{'name': 'abc',
 'fname': 'abc',
 'course': 'abc',
 'timing': 'abc',
 'address': 'abc'}

In [47]:
a1['cell']

KeyError: 'cell'

In [48]:
a1.get('name')

'abc'

In [49]:
a1.get('cell')

In [51]:
a1.get('cell', 'NotValid')

'NotValid'

In [52]:
a1

{'name': 'abc',
 'fname': 'abc',
 'course': 'abc',
 'timing': 'abc',
 'address': 'abc'}

In [53]:
a1.get('contactNumber')
# extract value from key without generate error

In [54]:
l1 = a1.keys()
l1

dict_keys(['name', 'fname', 'course', 'timing', 'address'])

In [56]:
names = ['Abdul Wahab', 'Kamran', 'Irfan', 'Zubair']
for name in names:
    if name=='Abdul Wahab':
        print(True)

True

In [58]:
'Kamran' in names

True

In [59]:
'timing' in l1

True

In [60]:
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [61]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0, 'abc'])

In [62]:
obj1.values()

dict_values(['Abdul Wahab', 'Aslam Khan', '03152222222', '088', 25, 'pakistan zinda bad', ['a', 'b', 'c']])

In [63]:
obj1.items()

dict_items([('name', 'Abdul Wahab'), ('fname', 'Aslam Khan'), ('cell', '03152222222'), ('id', '088'), ('age', 25), (0, 'pakistan zinda bad'), ('abc', ['a', 'b', 'c'])])

In [64]:
a1 = {
    0:'A',
    1:'B',
    3:'D',
    2:'C'
}
a1

{0: 'A', 1: 'B', 3: 'D', 2: 'C'}

In [65]:
sorted(a1)

[0, 1, 2, 3]

In [67]:
sorted(a1.keys())

[0, 1, 2, 3]

In [68]:
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [69]:
for e in obj1:
    print(e)

name
fname
cell
id
age
0
abc

In [70]:
for k in obj1.keys():
    print(k)

name
fname
cell
id
age
0
abc

In [71]:
for v in obj1.values():
    print(v)

Abdul Wahab
Aslam Khan
03152222222
088
25
pakistan zinda bad
['a', 'b', 'c']

In [72]:
a , b = [20, 40]
print(a,b)

20 40

In [73]:
a , b , c = 20 , 35 , 'abc'
c

'abc'

In [74]:
for k,v in obj1.items():
    #print(e[0], e[1])
    print("key=",k,'Value=',v)
    #print(e)

key= name Value= Abdul Wahab
key= fname Value= Aslam Khan
key= cell Value= 03152222222
key= id Value= 088
key= age Value= 25
key= 0 Value= pakistan zinda bad
key= abc Value= ['a', 'b', 'c']

In [75]:
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [77]:
obj1.pop('abc')

['a', 'b', 'c']

In [78]:
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad'}

In [80]:
obj1.popitem('0')

TypeError: popitem() takes no arguments (1 given)

In [81]:
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad'}

In [84]:
obj1.setdefault('xyz', 'pak')
obj1

{'name': 'Abdul Wahab',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'xyz': 'abc'}

In [85]:
a1={'a':'A',
   'b':'B',
   'name':'Ali'}

obj1.update(a1)
obj1

{'name': 'Ali',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'xyz': 'abc',
 'a': 'A',
 'b': 'B'}

In [86]:
{'a','b','a','c','a'} #set

{'a', 'b', 'c'}

In [87]:
a1 = {} #empty dictionary
a1

{}

In [88]:
a1['name'] = 'Abdul Wahab'
a1['fname'] = 'Aslam Khan'
a1['age'] = 25

a1

{'name': 'Abdul Wahab', 'fname': 'Aslam Khan', 'age': 25}

In [89]:
db = []
while True:
    print('Press x for exit')
    name = input('Enter Your Name : ')
    fname = input('Enter Your Father Name : ')
    r = {}
    if name != 'x' and fname != 'x':
        r['name'] = name
        r['fname'] = fname
        db.append(r)
    else: 
        break 
        db

Press x for exit
Enter Your Name : Abdul Wahab
Enter Your Father Name : Aslam Khan
Press x for exit
Enter Your Name : Kamran
Enter Your Father Name : Irafan
Press x for exit
Enter Your Name : Azeem
Enter Your Father Name : Hafeez
Press x for exit
Enter Your Name : x
Enter Your Father Name : x

In [90]:
db

[{'name': 'Abdul Wahab', 'fname': 'Aslam Khan'},
 {'name': 'Kamran', 'fname': 'Irafan'},
 {'name': 'Azeem', 'fname': 'Hafeez'}]

# functions

In [91]:
print("Saylani Welfer Trust")
print("Bhadra bad")
print("Karachi")
print("A.I")

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

# Defualt function (Aisa function jo apsy koi argument na ly)

In [93]:
def info():
    print("Saylani Welfer Trust")
    print("Bhadra bad")
    print("Karachi")
    print("A.I")

In [94]:
info()

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

# Required Arguments

In [95]:
def student(name, sid, fname):
    abc = """
    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: {}
    father's Name: {}
    Roll no: {}
    """.format(name, fname, sid)
    
    return abc

In [96]:
print(student('Ali','Hamza','007'))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Ali
    father's Name: 007
    Roll no: Hamza

In [97]:
print(student(name="Abdul Wahab",fname="Aslam Khan",sid='0000'))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Abdul Wahab
    father's Name: Aslam Khan
    Roll no: 0000

In [98]:
l1 = [{'name':'Ali', 'fname':'Hamza', 'sid':1},
     {'name':'Hamza', 'fname':'Hamza2', 'sid':2},
     {'name':'Junaid', 'fname':'Hamza3', 'sid':3}]

In [99]:
for d in l1:
    print(student(**d))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Ali
    father's Name: Hamza
    Roll no: 1


    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Hamza
    father's Name: Hamza2
    Roll no: 2


    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Junaid
    father's Name: Hamza3
    Roll no: 3

In [101]:
a1 = input("name")
a2 = int(input("sid"))
for d in l1:
    if d['name']==a1 and d['sid']==a2:
        print(student(**d))
        print("Valid user")
        break
    else:
        print("Invalid user")

nameAli
sid1

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Ali
    father's Name: Hamza
    Roll no: 1

Valid user

In [102]:
print(student('qasim','aslam','3')) #sequance args

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: qasim
    father's Name: 3
    Roll no: aslam

In [104]:
print(student(name='Abdul Wahab',sid=7, fname='Aslam Khan'))# key=value args

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Abdul Wahab
    father's Name: Aslam Khan
    Roll no: 7

In [107]:
l1 = ['Abdul Wahab','Aslam Khan',10]
print(student(*l1))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Abdul Wahab
    father's Name: 10
    Roll no: Aslam Khan

In [108]:
l2 = {'name':'Abdul Wahab', 'fname':'Aslam Khan','sid':10}
print(student(**l2))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Abdul Wahab
    father's Name: Aslam Khan
    Roll no: 10

In [109]:
def abc(a=0, b=0, c=0):
    return a + b + c

print(abc(1))
print(abc(1,7))
print(abc(1,8,9))
print(abc(c=20))

1
8
18
20

In [110]:
abc(1,8,9,0,20,78,89)

TypeError: abc() takes from 0 to 3 positional arguments but 7 were given

In [112]:
def abc(*a):
    return sum(a)

In [113]:
print(abc(1,7,9,10,7))
print(abc(1))
print(abc(2,8,9))

34
1
19

In [114]:
def abc(name,fname, *a):
    print("user: ", name)
    print("fname:",fname)
    print(sum(a))
    
abc('qasim', 'aslam', 27,8,9,7,6,5)

user:  qasim
fname: aslam
62

In [115]:
def abc(**d):
    print(d)
    
print(abc(name='Abdul Wahab', fname='Aslam Khan'))
print(abc(a='aa', b='cc'))

{'name': 'Abdul Wahab', 'fname': 'Aslam Khan'}
None
{'a': 'aa', 'b': 'cc'}
None

In [116]:
obj1

{'name': 'Ali',
 'fname': 'Aslam Khan',
 'cell': '03152222222',
 'id': '088',
 'age': 25,
 0: 'pakistan zinda bad',
 'xyz': 'abc',
 'a': 'A',
 'b': 'B'}

In [117]:
data = [{'name' : 'Mehran', 'fname': 'Kamal', 'pass': True},
       {'name' : 'Ali', 'fname': 'Kamal', 'pass': True},
       {'name' : 'Azhar', 'fname': 'Kamal', 'pass': True},
       {'name' : 'Irfan', 'fname': 'Kamal', 'pass': False},
       {'name' : 'Aslam', 'fname': 'Kamal', 'pass': False}
       ]
registered = []
ind  = data.copy()
i = 0
l1 = []
for x in data:
    ind  = data.copy()
    if x['pass'] == True:
        registered.append(data[i])
    else:
        l1.append(ind.pop(i))    
    i+=1
data = l1
# data.pop(*ind)


print("Registered Students")
for i in registered:
    print(i['name'])
    print(i['fname'])
    print("Parring Status:", i['pass'])
    print()

Registered Students
Mehran
Kamal
Parring Status: True

Ali
Kamal
Parring Status: True

Azhar
Kamal
Parring Status: True

In [118]:
data

[{'name': 'Irfan', 'fname': 'Kamal', 'pass': False},
 {'name': 'Aslam', 'fname': 'Kamal', 'pass': False}]

In [119]:
ind

[{'name': 'Mehran', 'fname': 'Kamal', 'pass': True},
 {'name': 'Ali', 'fname': 'Kamal', 'pass': True},
 {'name': 'Azhar', 'fname': 'Kamal', 'pass': True},
 {'name': 'Irfan', 'fname': 'Kamal', 'pass': False}]