anyName() #pre define function
ref.anyName() # Pre define method 
ref.anyName # Attributes

In [1]:
print("Abdul Wahab")

Abdul Wahab

In [2]:
a="Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

In [3]:
a.upper()

'PAKISTAN'

In [4]:
a

'Pakistan'

# String Class Method and Attributes

In [5]:
a = "paKistan ziNda bad"
print(a)

paKistan ziNda bad

In [7]:
a.capitalize()

'Pakistan zinda bad'

In [8]:
a.casefold()

'pakistan zinda bad'

In [12]:
a.encode()

b'paKistan ziNda bad'

In [14]:
a.expandtabs()

'paKistan ziNda bad'

In [16]:
a.format()

'paKistan ziNda bad'

In [21]:
a.isalnum()

False

In [22]:
a.isalpha()

False

In [23]:
a.isascii()

True

In [24]:
a.isdecimal()

False

In [25]:
a.isdigit()

False

In [26]:
a.isidentifier()

False

In [27]:
a.islower()

False

In [28]:
a.isnumeric()

False

In [29]:
a.isprintable()

True

In [30]:
a.isspace()

False

In [31]:
a.istitle()

False

In [32]:
a.isupper()

False

In [35]:
a.lower()

'pakistan zinda bad'

In [36]:
a.lstrip()

'paKistan ziNda bad'

In [45]:
a.rsplit()

['paKistan', 'ziNda', 'bad']

In [46]:
a.rstrip()

'paKistan ziNda bad'

In [48]:
a.splitlines()

['paKistan ziNda bad']

In [50]:
a.strip()

'paKistan ziNda bad'

In [51]:
a.swapcase()

'PAkISTAN ZInDA BAD'

In [52]:
a.title()

'Pakistan Zinda Bad'

In [54]:
a.upper()

'PAKISTAN ZINDA BAD'

In [56]:
print(a)

paKistan ziNda bad

In [57]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [58]:
print?

In [59]:
print??

In [60]:
a.center??

In [63]:
abc="""
Dawood University Of Engineering And Technology
City: Karachi
Country: Pakistan
"""
print(abc)

Dawood University Of Engineering And Technology
City: Karachi
Country: Pakistan

In [64]:
abc='''
Dawood University Of Engineering And Technology
City: Karachi
Country: Pakistan
'''
print(abc)

Dawood University Of Engineering And Technology
City: Karachi
Country: Pakistan

In [65]:
abc="""
********************DUET***********************
Dawood University Of Engineering And Technology
Name: Abdul Wahab
Father's Name: Aslam Khan
Roll Number: 78
City: Karachi
Country: Pakistan
"""
print(abc)

********************DUET***********************
Dawood University Of Engineering And Technology
Name: Abdul Wahab
Father's Name: Aslam Khan
Roll Number: 78
City: Karachi
Country: Pakistan

In [67]:
name = "Abdul Wahab"
father_name = "Aslam Khan"
roll_number = "78"
city = "Karachi"
country = "Pakistan"
abc="""
********************DUET***********************
Dawood University Of Engineering And Technology
Name: {}
Father's Name: {}
Roll Number: {}
City: {}
Country: {}
"""
print(abc.format(name,father_name,roll_number,city,country))

********************DUET***********************
Dawood University Of Engineering And Technology
Name: Abdul Wahab
Father's Name: Aslam Khan
Roll Number: 78
City: Karachi
Country: Pakistan

In [68]:
name = input("Enter Your Name")
father_name = input("Enter Your Father Name")
roll_number = input("Enter Your Roll Number")
city = input("Enter Your City")
country = input("Enter Your Country")
abc="""
********************DUET***********************
Dawood University Of Engineering And Technology
Name: {}
Father's Name: {}
Roll Number: {}
City: {}
Country: {}
"""
print(abc.format(name,father_name,roll_number,city,country))

Enter Your NameAbdul Wahab
Enter Your Father NameAslam Khan
Enter Your Roll Number78
Enter Your CityKarachi
Enter Your CountryPakistan

********************DUET***********************
Dawood University Of Engineering And Technology
Name: Abdul Wahab
Father's Name: Aslam Khan
Roll Number: 78
City: Karachi
Country: Pakistan

In [69]:
a = print("Pakistan") # None Return function
print(a)

Pakistan
None

In [70]:
a = "Pakistan"
b = "Zindabad"
a+b #concatination

'PakistanZindabad'

In [71]:
a = 5
b = 3
a + b

8

In [72]:
 5 + 3

8

# Operators

# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, != # Logical Operator

and, or # Combine logic checking

# +, -, * , /, %, // # Mathmatics

In [73]:
3 + 2

5

In [74]:
5 - 3

2

In [75]:
4 * 2

8

In [77]:
8 / 4

2.0

In [78]:
14 % 3

2

In [79]:
25 / 4

6.25

In [80]:
25 // 4 #number after decimal point will be truncate

6

In [82]:
25 // 4.0 #number after decimal point will be truncate but result will be in float

6.0

In [83]:
2 + 6 * 8 / 5 + (2*3)

17.6

# pemdas
2 + 6 * 8 / 5 + (2*3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.6 + 6
2 + 15.6
17.6

In [84]:
4/8**3+(7-8+7*2)**20//2

9.5024818874404e+21

# =, +=, -=, =, /=, %=, *= # Assign Operator

In [85]:
a = "Pakistan"
a

'Pakistan'

In [86]:
a * 2 #repetetion

'PakistanPakistan'

In [96]:
a = "abc"
a

'abc'

In [97]:
a += " xyz"
a

'abc xyz'

In [98]:
a *= 2
a

'abc xyzabc xyz'

In [100]:
a %= 2
a

TypeError: not all arguments converted during string formatting

In [105]:
a = 15 
a %= 4
a

3

In [106]:
# 3*3*3
a **= 3
a

27

In [107]:
a = "abc"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # Logical Operator

In [108]:
5 == 5

True

In [109]:
5 == 2

False

In [110]:
5 > 3

True

In [111]:
5 < 6

True

In [112]:
5 < 3

False

In [113]:
3 > 5

False

In [114]:
4 >= 2

True

In [115]:
3 <= 5

True

In [116]:
5 > 5

False

In [117]:
6 < 6

False

In [118]:
6 <= 6

True

In [119]:
5 != 5

False

In [120]:
5 == 5 and 6 <= 8 and 5 >= 3

True

In [122]:
5 == 5 and 6 >= 8 and 5 >= 3

False

In [123]:
5 == 5 or 6 <= 7 or 10 >= 9

True

In [124]:
5 == 6 or 6 <= 7 or 10 >= 9

True

In [131]:
5 == 5 or 6 <= 7 or 10 >= 22

True

or , |
and , &

In [137]:
True & True

True

In [138]:
True & False

False

In [139]:
True | True

True

In [140]:
True | False

True

In [134]:
a = 'abc'
b = 'xyz'
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [135]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [136]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [141]:
a = input()
b = input()
float(a) + float(b)

34
0.5

34.5

In [142]:
a = "1"
b = "1"
a + b

'11'

In [143]:
int(a) + int(b)

2

In [144]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# If, else, elif

if logic:
    true value
else:
    false value

if logic1:
    true value 1
elif logic2:
    true value 2
elif logic3:
    true value 3
else:
    false value

if logic1 and logic2 and logic3:
    value true
else:
    false value

In [147]:
name = input("Enter Your Name: ")
if name == 'Fahad Iqbal':
    print("Teacher")
else: 
    print("Student")

Enter Your Name: Fahad Iqbal
Teacher

In [148]:
name = input("Enter Your Name: ")
if name == 'Fahad Iqbal':
    print("Teacher")
else: 
    print("Student")

Enter Your Name: Kamran
Student

In [149]:
name = input("Enter Your Name: ")
if name == 'Fahad Iqbal':
    print("Teacher")
else: 
    print("Student")

Enter Your Name: fahad iqbal
Student

In [156]:
name = input("Enter Your Name: ")
if name.lower() == 'fahad iqbal':
    print("Teacher")
else: 
    print("Student")

Enter Your Name: FaHaD IqBal
Teacher

In [157]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per>=50:
    print("C")
elif per>=60:
    print("B")
elif per>=70:
    print("A")
elif per>=80:
    print("A+")

Fail

In [158]:
per = 180

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per<40:
    print("E")
elif per >= 40 and per<50:
    print("D")
elif per>=50 and per<60:
    print("C")
elif per>=60 and per<70:
    print("B")
elif per>=70 and per<80:
    print("A")
elif per>=80 and per<=100:
    print("A+")
else:
    print("Not valid")

Not valid

In [159]:
per = 78

if per>=80:
    print("A+")
elif per>=70:
    print("A")
else:
    print("Fail")

A

In [160]:
names = ['qasim','asif','kashif']
names

['qasim', 'asif', 'kashif']

In [161]:
names[1]

'asif'

In [162]:
names

['qasim', 'asif', 'kashif']

In [164]:
names[2] = "Kamran"
names

['qasim', 'asif', 'Kamran']

In [165]:
names = []

while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break

names

namesKamran
namesIrfan
namesAzeem
namesManan
namesAbdul Wahab
namesx

['Kamran', 'Irfan', 'Azeem', 'Manan', 'Abdul Wahab']